
/*//background of my index.html page*/
body{

background: azure;
text-align: center; 

}

/*//Table heading*/

h1{
    
text-align: center;
text-decoration: underline;
font-size: 200%;
font-family: "Courier new", monospace;              
font-weight: bold;

    
}


/*///Table row and table header design*/

table tr,th{
    
width: 200px;
height:130px;
text-overflow: ellipsis;
font-family: "Courier new", monospace;              
font-weight: bold;
font-size: 120%;
text-align: center;


}


/*///font within editable cells*/
table td{

font-family: "Courier new", monospace;
font-size: 100%;


}


table{
margin-right: 50px;
float: left;

}

/*///editable cells within table rows*/

table span {
display:block;
background-color: #1e90ff;
border: 1px solid black;
word-wrap:break-word;
height: 40px;
max-width: 200px;
width: 100%;
margin-left: auto;

}

/*///my buttons*/

div.buttons {

border: 10px solid #1e90ff;
width: 200px;
max-width: 180px;
font-family: "Courier new", monospace;
float: right;
text-align: center;

}


.buttons button[type='button']:hover {
background-color: lightblue;
}




ul,li{

display: block;
padding: 0.75em 0.5em;

}




